@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

body,
h1,
h2,
h3,
p,
ul,
li a {
  margin: 0px;
}

main {
  min-height: 600px;
}

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background: #222222;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* MAIN */

.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1200px;
}

.title {
  font-size: 2rem;
  background: linear-gradient(145deg, #fd49a0 60%, #c396ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
