@import url("./global.css");
@import url("./components/header.css");
@import url("./components/footer.css");
@import url("./components/colors.css");

/* Options NAV */
.options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.options li {
  padding: 20px 30px;
  background-color: #111111;
  border-radius: 4px;
  cursor: pointer;
}

/* Main Timer */
.timer-bg {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  justify-self: center;
}

.input-bg {
  border-radius: 4px;
  padding: 6px;
  background-color: #36454f;
  border: #ffffff solid 1.5px;
}

.sep {
  font-size: 2.2rem;
  display: inline;
}

.minutes,
.seconds {
  display: inline;
  padding: 0px;
  width: 70px;
  font-size: 4rem;
  color: #ffffff;
  background-color: #36454f;
  border: none;
}

.start {
  background-color: #3aa3a0;
  border: #000000 1px solid;
  font-size: 1.6rem;
  border-radius: 2px;
  color: inherit;
}

.stop {
  background-color: #fd49a0;
  font-size: 1.6rem;
  border: #000000 1px solid;
  border-radius: 2px;
  color: inherit;
}

.showTime {
  justify-self: center;
  margin-top: 15px;
  color: #d1d0d0;
  font-size: 1.8rem;
}

/* Date Hours Timer */

.time-label {
  font-size: 3.4rem;
  margin-right: 15px;
  color: #d1d0d0;
}

.date-bg {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1200px;
  justify-self: center;
}
#time {
  font-size: 4rem;
  color: #ffffff;
  color-scheme: dark;
  background-color: #36454f;
  border: none;
}

.timer--2 {
  justify-self: center;
  margin-top: 15px;
  color: #d1d0d0;
  font-size: 1.8rem;
}

.submit-btton {
  margin-left: 15px;
  background-color: #3aa3a0;
  border: #000000 1px solid;
  font-size: 2rem;
  border-radius: 2px;
  color: inherit;
}

/* Settings */

.settings-bg {
  margin-top: 120px;
}

.settings {
  margin: 0px 20px;
  font-size: 1.4rem;
}

.settings-grid {
  margin: 40px 160px 80px 0px;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.settings-grid input {
  margin-left: 15px;
}

.change-sound {
  font-size: 1.4rem;
  position: relative;
  padding: 10px 20px 10px 5px;
  background: #111111;
  color: #888888;
  border: none;
  border-radius: 4px;
  width: 260px;
  transition: 0.25s;
}

.sounds-bg {
  width: 240px;
  padding: 10px 0px 10px 20px;
  background: #111111;
  color: #ffffff;
  justify-self: start;
  transition: 0.35s ease-out;
}

.sounds-bg:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.change-sound::after {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../img/icons/down-arrow.svg");
  transform: scale(1.5);
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
}

.change-sound:hover {
  background: #000000;
  color: #999999;
}

.active-sfx {
  background-color: #fd49a0;
}
